.header {
  background-color: white;
}
.header .header-top {
  text-align: right;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #20B2AA;
}
.header .header-top .user {
  margin-left: 10px;
}
.header .header-bottom {
  display: flex;
  height: 40px;
}
.header .header-bottom .bottom-left {
  position: relative;
  line-height: 40px;
  text-align: center;
  width: 25%;
  height: 40px;
  background-color: pink;
}
.header .header-bottom .bottom-left h1 {
  font-size: 20px;
}
.header .header-bottom .bottom-left::after {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent ;
  border-right: 20px solid transparent;
}
.header .header-bottom .bottom-right {
  padding-right: 20px;
  line-height: 40px;
  text-align: right;
  width: 75%;
  height: 40px;
  background-color: #20B2AA;
}
